{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title> VBLOG</title>
    <link rel="stylesheet" href="{% static 'css/list.css' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       
</head>
<body>
  <a class="btn btn-primary" href="{% url 'form' %}" role="button">Create</a>
    <h1><i>Life Hacks</i></h1>
    {% for p in posts %}
    <div class="jumbotron">
  <h2>{{p.title}}</h2>
  <p class="lead">{{p.cdate}}</p>
  <hr class="my-4">
  <p>{{p.text|truncatechars:330}}</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Read more</a>
</div>
   
{% endfor %}
</body>
</html>