{% extends 'index.html' %}
{% load static %}
{% block body %}
  <div class="card" style="width:800px;margin-left:250px;margin-bottom:30px;float:center;margin-top:20px";>
    <div class="card-body">
      <h3 class="card-title"><b>You Don’t Need More Motivation — You Need a System</b></h5>
      <p><img src = '{{post.author.pic.url}}' %} class="card-img-top"style="width: 50px; height: 50px;border-radius: 50%;">&nbsp;<i>{{post.author.first_name}}</i>{{post.date}}<p>
        
       
          <p class="card-text">Six years ago, I tried to pursue my dream of becoming an entrepreneur: I did some freelance writing, built websites, and took on some content marketing and design projects. But, despite all the time I put in, I wasn’t seeing the results I wanted. Why? Because I couldn’t get myself to do the uncomfortable work — the difficult, tedious, and unsatisfying tasks that come with actually building a business. I kept looking for relief from those tasks, often scrolling through the news or going out (yet again) for a coffee break.

That was, and to a degree still is, the story of my life. Right now, I’m writing a book. Writing is hard. I keep fighting the urge to put off the work. But I’m moving along and getting it done. The only difference between my life six years ago and my life today is that I now have a system.</p>
          <div class = "container">
            <div class = "row">
              <div style = "margin-top:10px;"><button  id="btnClick" onclick="post_comment()" class="btn"><i class="fa fa-paper-plane"></i> Comment</i></button></div>
              
              <form action = " " method = "POST">
                {% csrf_token%}
                <div > <button  id = "bttn" style = "margin-left:20px;margin-top:12px;" type = "submit" name = "like" class="btn" ><i style = "color:red"class="fa fa-heart"> {{post.likes}}  Like</i></button>
                </div>
              </div>
            </div>
            <script>
            cnt = 0
            function dis(){
            document.getElementById("bttn").disabled = true;
            }
            function post_comment(){
            document.getElementById('p_comment').style.display = "block";
            }
            </script>
          </div>
        </div>
        <br>
        
        <div class="form-group" id = "p_comment" style="display:none;width:800px;margin-left:250px;margin-bottom:30px;float:center;margin-top:20px">
          <label for="exampleFormControlTextarea1"><i>Write your comment here</i></label>
          <textarea class="form-control" name = "comment" id="exampleFormControlTextarea1" rows="3"></textarea>
          <button type ="submit" name = "com" style = "margin-left:700px;margin-top:10px;" type="button" class="btn btn-success"><i class="fa fa-paper-plane"></i>Post</i></button>
        </div>
      </div>
    </form>
    <h3 style = "margin-left:250px;margin-bottom:30px;float:center;margin-top:20px">Comments</h3>
    {% for com in comment%}
      <div class="card" style="width:800px;margin-left:250px;margin-bottom:30px;float:center;margin-top:20px">
        <div class="alert alert-light" role="alert">
          <img src = '{{com.profile.pic.url}}' %} class="card-img-top"style="width: 50px; height: 50px;border-radius: 50%;">
        {{com.profile.user.first_name}}&nbsp;{{com.time}}<br>{{com.text}}</div>
      </div>
    </div>
    {%endfor%}>
  {% endblock %}